body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.amount {
  max-width: 125px;
  padding-right: 10px;
}

.result {
  margin-top: 30px;
  font-size: 28px;
  color: rgb(121, 121, 121);
}

.title {
  margin-top: 50px;
  font-size: 40px;
  color: rgb(121, 121, 121);
}

.subtitle {
  margin-left: 40px;
  margin-right: 40px;
}

.dollars {
  color: green;
  font-weight: bold;
}

.disclaimer {
  text-align: center;
  margin-top: 30px;
  font-size: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.footer {
  text-align: center;
  margin-top: 30px;
  font-size: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.loading {
  padding-left: 49px;
  padding-right: 49px;
}